if isActive
  .user__avatar
    #{avatar}
  .user__info 
    .user__name=title
  .add__btn.ml-auto
    #{points}
  #{actions}
else 
  .user__avatar
    #{avatar}
  .user__info 
    if data 
      .user__name=data.display_name
    else 
      .user__name user
    .user__status=message
  .user__action
    .user__notification
      #{notification}
      .user__counter
        #{count}
    .user__settings.pointer 
      #{settingsIcon}
    .user__settings.add__btn
      #{plus}
    .user__settings.remove__btn 
      #{minus}
