if changePassword
   |  !{ oldpassword }
   |  !{ newPassword }
   |  !{ repeatPassword }
   #{saveButton}  
   #{error}
else 
  |  !{ login }
  |  !{ password }
  |  !{ phone } 
  |  !{ email } 
  |  !{ first_name } 
  |  !{ second_name }
  #{saveButton}  
  #{error}
