
if isLogin
  #{login}
  #{password}
  #{checkbox}
  #{buttonSubmit}
  #{error}
  a.link(href = '/registration') Создать аккаунт
else 
  #{login}
  #{password}
  #{phone}
  #{email}
  #{first_name}
  #{second_name}
  #{buttonSubmit}
  #{error}
  a.link(href = '/login') Войти
