
if isLogin
  #{login}
  #{password}
  #{checkbox}
  #{buttonSubmit}
  #{error}
  #{RegistrationLink}
else 
  #{login}
  #{password}
  #{phone}
  #{email}
  #{first_name}
  #{second_name}
  #{buttonSubmit}
  #{error}
  p=errorMessage
  #{loginLink}
